<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{/common/fragment :: head}">
   
</head>

<body>
   <header data-th-replace="/common/fragment::header"></header>


   <section class="container ">
        <div class="container-fluid mt-3 shadow rounded-3 p-3 ">
        <h2 class="text-center" data-th-text="${blog.heading}">Heading</h2>
        <hr>
        <p class="pb-1 fw-medium" data-th-text="${blog.description}">Description</p>
        </div>
       <a data-th-replace="/common/fragment::a"></a>

    </section>
</body>

</html>